.add-life {
  width: 300px;
  height: 370px;
}

.add-alarm {
  width: 350px;
  // height: 500px;
}

.add-cover {
  height: 500px;
  line-height: 500px;
}


.label-name {
  display: block;
  font-size: 1.2rem;
  padding: 5px 15px;
  text-align: left;
}