.login-page {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 320px;
  padding: 50px 0;
  color: $theme-white;
  text-align: center;
  

  a {
    color: $theme-white;
  }

  form {
    background: #111;
    padding: 10px 0;
    text-align: left;
    box-shadow: 0 0 8px #000;
    overflow: hidden;
  }
}

.form-nav {
  position: relative;
  display: flex;
  width: 100%;
  background: #222;
  box-shadow: 0 0 8px #000;

  nav {
    flex: 1;
    padding: 15px;
    border-bottom: 1px solid #222; 
    cursor: pointer;
  }
  .formactive {
    background: #111;
  }
}

.checkbox {
  width: 40px;
  height: 40px;
  background: #ddd;
  margin: 20px 90px;

  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.form-utils {
  display: flex;
  padding: 10px;
  text-align: center;

  &>* {
    flex: 1;
  }
  &>a {
    max-width: 100px;
  }

  &>*:first-child {
    text-align: left;
  }
  &>*:last-child {
    text-align: right;
  }
}

.login-qcode {
  width: 100%;
  height: 320px;
  background: #111;
  box-shadow: 0 0 8px #000;

  &>* {
    margin-top: 10px;
    border: 1px solid #fff;
  }
}

.phone-verify {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  padding: 15px 0 5px 0;
  
  &>div:first-child {
    align-self: center;
  }

  &>div:last-child {
    justify-self: end;
  }
  a {
    &:hover {
      color: #ddd;
    }
  }
  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #eee;
    background: #111;
    width: 100%;
    height: 30px;
    color: #fff;
    &:focus {
      box-shadow: none;
      border-bottom: 1px solid #eee;
    }
  }
  .sending {
    color: #888;
    cursor: default;
    &:hover {
      color: #888;
    }
  }
}

@media screen and (max-width: 460px) {
  .login-page {
    width: 100%;
    padding: 0;
    color: $theme-black;
    form {
      background: none;
      box-shadow: none;
      
      // button {
      //   background: #222;
      //   color: $theme-white;
      // }
    }
  }
  .form-nav {
    background: none;
    color: $theme-white;
    nav {
      background: #222;
    }
    .formactive {
      color: #000;
      background: none;
    }
  }
  .login-qcode {
    background: none;
    box-shadow: none;
  }
  .phone-verify input {
    background: none;
    color: #000;
  }
  .phone-verify a {
    color: #000;
  }

  .form-utils a {color: #000;}
}
