.app-body {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $theme-blue;
  
}

/*-----------------------------
    Home Section 1
------------------------------*/
.section-s1{
    display: flex;
    // grid-template-columns: repeat(2, 1fr);

  /*
      Left
  */
  .sec-text {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    word-break: keep-all;
    
    &>div {
      padding: 20px;
      img {
        margin: 10px;
      }
    }

    .sec-text-title {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 300;
      margin-top: 50px; 
      font-size: 3.5rem;
      color: orangered;
      text-transform: uppercase;
    }
    .sec-text-subtitle {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 300;
      font-size: 1rem;
      color: #eee;
      &>* {
        display: block;
        padding: 5px;
      }
      &>*:first-child {
        font-size: 1.4rem;
      }
    }
    .sec-text-download {
      text-align: center;
      margin-top: 20px;

      img {
        border-radius: 10px;
        // box-shadow: 1px 1px 1px #333;
        &:hover {
          box-shadow: 1px 1px 1px #666;
        }
      }
    }
  }

  /*
      Right
  */
  .sec-pic {
    align-self: flex-end;
    flex: 1;
    padding-top: 50px;
    img {
      max-width: 442px;
      width: 442px;
      height: 576px;
    }
  }
}

/*-----------------------------
    Home Section 1
------------------------------*/
.chasingcoral {
  position: relative;
  max-height: 750px;
  overflow: hidden;
  video {
    position: relative;
    width: 100%;
    z-index: 0;
    vertical-align: middle;
    border: none;
  }
  .cover, .content, .play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .cover {
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.5) 
  }
  .content {
    z-index: 3;
    .logo {
      margin: 0 20px;
      width: 50vw;
      height: 25%;
      background: url('/pic/chasingcoral/logo.png') no-repeat;
      background-size: contain;
    }
    .awards {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 10%;
      div {
        flex: 1;
        height: 100%;
        background-size: contain;
        background-repeat:  no-repeat;
        background-position: center bottom;
      }
    }
    .play {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        color: orangered;
        font-size: 100px;
        &:hover {
          color: red;
        }
      }
    }
    
  }
}



@media screen and (max-width: 950px) {
  .sec-pic img {
    width: 320px !important;
    height: auto !important;
  }
}
@media screen and (max-width: 750px) {
  .section-s1{
    flex-wrap: wrap;
  }
  // .sec-pic img {
  //   width: 100% !important;
  //   height: auto !important;
  // }
  // .section-s1 .sec-swap {
  //   width: 750px;
  // }
}

@media screen and (max-width: 460px) {
  .section-s1 .sec-text-title {
    font-size: 2.5rem !important;
    .sec-pic, .sec-text {
      width: 100%;
    }
  }
  
}

/*-----------------------------
    Home Section 2
------------------------------*/

