/* ----------NEW------------*/


.form-element {
  position: relative;
  margin: 10px auto;
  width: calc(100% - 20px);
}

.form-element-custom {
  position: relative;
  margin: 5px 0;
}

.form-input-label {
  position: relative;
  text-align: left;
  h5 {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 10px 5px;
    margin: 0; 
  }
}

.form-input {
  position: relative;
  width: calc(100% - 2px);
  height: 38px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #fff;
}

.form-input-main,
.form-input-main-withtag
{
  position: relative;
  top: 0;
  height: calc(100% + 2px);
  /* height: 100%; */
  z-index: 2;
}
.form-input-main {
  width: 100%;
}
.form-input-main-withtag {
  width: calc(100% - 40px);
}

.form-input-tag {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  padding-left: 10px; 
  background: #aaa;
  vertical-align: center;
}

.form-input-tag-text,
.form-input-tag-option
{
  font-size: 1rem;
  color: #333;
}
.form-input-tag-text {
  height: 38px;
  line-height: 38px;
  text-align: left;
  cursor: default;
}

.form-input-tag-option {
  width: 100%;
  height: 100%;
  border: none;
  appearance: none;
  background: none;
  cursor: pointer;
}

.form-input-tag-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.9rem;
  transform: translateX(-50%) translateY(-50%);
  color: #333;
}

.form-input-status {
  position: absolute;
  left: 0;
  height: calc(100% - 2px);
  width: 10px;
  vertical-align: center;
  z-index: 3;
}

.form-input-area,
.form-select-area 
{
  position: absolute;
  left: 10px;
  border: none;
  appearance: none;
  background: none;
  margin: 0;
  padding: 0 20px 0 10px;
  font-size: 1.35rem;
  z-index: 1;
  vertical-align: center;
}

.form-select-area {
  left: 0;
}

.form-input-area:focus,
.form-select-area:focus,
.form-input-tag-option
{
  outline: none;
}

.form-input-area {
  width: calc(100% - 41px);
  height: calc(100% - 2px);
}

.form-select-area {
  top: -1px;
  width: calc(100% - 10px);
  height: 100%;
  cursor: pointer;
}

.form-select-arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  .form-select-arrow-up,
  .form-select-arrow-down 
  {
    position: relative;
    color: #333;
    font-size: 1.35rem;
  }

  .form-select-arrow-up {
    left: 0px;
    top: 5px;
  }
  .form-select-arrow-down {
    left: -10px;
    top: 17px;
  }
}



.form-input-error-box {
  position: relative;
  left: 0;
  text-align: left;
  font-size: 1.2rem;
  padding: 0 5px;
  color: #111;
  border-radius: 3px;
  background-color: #D93B0A;
}

.form-input-container-focus {
  border-color: $theme-color;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


.form-input-error {
  border-color:#D93B0A;
  /* color:#D93B0A; */
}
.form-input-pass {
  border-color: $theme-color;
}

.form-input-status-error {
  background-color: #D93B0A;
}
.form-input-status-pass {
  background-color: $theme-color;
}

/* ------------radio/checkbox------------*/


.form-radio {
  position: relative;
  width: 100%;
  min-height: 38px;
  text-align: left;
  font-size: 1.1rem;
}

.form-radio-option {
  display: inline-block;
  cursor: pointer;
  // line-height: 20px;
  padding: 8px 5px;
}

.form-radio-option:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


.form-radio-option span,
.form-radio-option i,
.form-radio-option a
{
  margin: 0 2px;
}

.form-radio .fa-times {
  display: inline-block;
  color: red;
  padding: 3px 5px;
  cursor: pointer;
}
.form-radio .fa-caret-right {
  color: #000;
}
.form-radio,
.form-radio-option .fa-circle,
.form-radio-option .fa-square
{
  color: #666;
}
.form-radio-option .fa-dot-circle,
.form-radio-option .fa-check-square
{
  color:$theme-color;
}

.form-single-option {
  cursor: pointer;
  span {
    margin: 0 5px;
  }
}

/* ------------textarea------------*/
.form-textarea {
  position: relative;
  width: calc(100% - 42px);
  min-height: 76px;
  max-height: 152px;
  height: 76px;
  text-align: left;
  padding: 10px 20px;
  font-size: 1.35rem;
  resize: vertical;
  border: 1px solid #aaa;
  outline: none;
  appearance: none;
  border-radius: 3px;
}
.form-textarea:focus {
  border-color: $theme-color;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.form-word-count {
  font-size: 1rem;
}
.form-word-count .text-length-over {
  color: #D93B0A;
}

/* ----------------switch----------------*/

.form-switch {
  position: relative;
  display: inline-block;
  height: 38px;
  margin: 5px 10px;
}

.form-switch-label {
  position: relative;
  top: -8px;
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
  padding: 0 5px;
}

.form-switch-button {
  position: relative;
  display: inline-block;
  top: 2px;
  right: 5px;
  height: 30px;
  width: 80px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  overflow: hidden;
  user-select: none;
  font-size: 1rem; 
}
.form-switch-button .move {
  left: -41px !important;
}

.form-switch-button .wapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 80px;
  transition: left 0.1s linear;
  cursor: pointer;
  color: #ffffff;
}
.form-switch-button .wapper>span {
  position: absolute;
  display: inline-block;
  top: 0;
}

.form-switch-button .block {
  width: 40px;
  height: 31px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  margin-top: -1px;
  margin-bottom: -1px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  left: 40px;
  background-image: linear-gradient(to bottom, #fff, #aaa);
}

.form-switch-button .on, .form-switch-button .off {
  width: 41px;
  height: 30px;
  line-height: 30px;
  background: $theme-color;
  // background-image: linear-gradient(to bottom, #9418FF, #4C0C82);
}

.form-switch-button .on{
  left: 0;
  border-radius: 4px 0 0 4px;
}
.form-switch-button .off{
  left: 80px;
  border-radius: 0 4px 4px 0;
}

/* ---------------Button---------------*/
.from-button {
  position: relative;
  margin: 10px auto;
  width: calc(100% - 20px); 
  height: 38px;
  display: block;
  border: 1px solid #4C0C82;
  border-collapse: separate;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  font-size: 1.2rem; 
  background-color: $theme-color;
  color: #fff;
  // background-image: linear-gradient(#9418FF,#4C0C82);
}
// .from-button:hover
// {
//   background: #4C0C82;
//   color: #fff;
//   // background-image: linear-gradient(#8415E3, #4C0C82);
//   // border-color: #400A6E;
// }

.from-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .2),
                inset 1px 1px 3px rgba(0, 0, 0, .2);
}

.from-button-small,
.from-button-simple,
.from-button-disable {
  font-size: 1rem;
}

.from-button-small,
.from-button-disable {
  position: relative;
  display: inline-block;
  border: 1px solid #aaa;
  height: 28px;
  line-height: 28px;
  text-align: center;
  min-width: 70px;
  margin: 5px auto;
  border-radius: 3px;
}

.from-button-small:hover {
  color: #fff;
  background-color: $theme-color;
}

.from-button-disable {
  color: #666;
  &:hover {
    color: #666;
    // background-color: none !important;/
  }
}

.from-button-simple {
  position: relative;
  display: inline-block;
  &:hover {
    color: $theme-color;
  }
}

/* ---------------Security---------------*/
.security-wrapper {
  display: flex;
  width: 300px;
}
.security-button {
  flex: 1;
  align-self: center;
  text-align: center;
}
.security-input {
  flex: 1;
}


/* ----------OLD------------*/
// .forms-inputs {
//   padding: 5px 10px;
//   text-align: left;

//   .input-wapper {
//     display: grid;
//     grid-template-columns: 10fr 2fr;
//     width: calc(100% - 2px);

//     input[type='text'],
//     input[type='number'],
//     input[type='password'] {
//       border-radius: 4px 0 0 4px;
//     }
//   }

//   .tag-name {
//     display: block;
//     font-size: 1.2rem;
//     padding: 5px;
//     text-align: left;
//   }

  // input[type='text'],
  // input[type='number'],
  // input[type='password'] {
  //   display: inline-block;
  //   height: 20px;
  //   line-height: 20px;
  //   // min-width: 200px;
  //   background-color: #fff;
  //   color: #000;
  //   border: 1px solid #d9d9d9;
  //   border-radius: 4px;
  //   outline: none;
  //   box-shadow: none;
  //   padding: 4px 8px;
  //   vertical-align: middle;
  //   font-size: 1.2rem;

  //   &:focus {
  //     box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);
  //     border-color: #666;
  //   }
  // }

  // .static {
  //   font-size: 1.2rem;
  //   height: 20px;
  //   line-height: 20px;
  //   border-radius: 4px !important;
  //   cursor: not-allowed;
  // }
  // .textarea {
  //   border-radius: 4px !important;
  //   padding: 8px;
  //   width: calc(100% - 19px);
  //   resize: vertical;
  //   height: 100px;
  //   font-size: 1.2rem;
  // }


  // .post-tag, 
  // .post-tag-select, 
  // .select,
  // .static
  // {
  //   display: inline-block;
  //   margin-right: -1px;
  //   margin-left: -1px;
  //   vertical-align: top;
  //   text-align: left;
  //   text-shadow: 0 1px 0 #fff;
  //   border-radius: 0 4px 4px 0;
  //   background-color: #eee;
  //   border: 1px solid #ccc;
  //   padding: 4px 8px;
  //   color: #333;
  // }
  // .post-tag {
  //   height: 20px;
  //   line-height: 20px;
  //   cursor: default;
  // }
  // .post-tag-select {
  //   appearance: none;
  //   height: 30px;
  //   outline: none;
  //   cursor: pointer;
  // }
  // /* radio button */
  // .option {
  //   display: inline-block;
  //   font-size: 1.2rem;
  //   label {
  //     padding: 0 10px;
  //   }
  //   input {
  //     display: inline-block;
  //     cursor: pointer;
  //   }
  // }
//   .select {
//     font-size: 1.2rem;
//     width: 100%;
//     height: 30px;
//     cursor: pointer;
//     background-color: #fff;
//   }
//   .fullwidth {
//     width: calc(100% - 18px);
//   }

//   .time {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     text-align: center;
//     color: #333;

//     .time-select {
//       display: inline-block;
//       vertical-align: top;
//       background-color: #eee;
//       border: 1px solid #ccc;
//       appearance: none;
//       padding: 0 10px;
//       outline: none;
//       border-radius: 0;
//       height: 30px;
//       cursor: pointer;
//       &:first-child {
//         border-radius: 4px 0 0 4px;
//       }
//     }
//     .time-tag {
//       display: inline-block;
//       vertical-align: top;
//       height: 28px;
//       line-height: 28px;
//       background-color: #eee;
//       border: 1px solid #ccc;
//       border-radius: 0;
//       cursor: default;
//       &:last-child {
//         border-radius: 0 4px 4px 0;
//       }
//     }
//   }

//   .list-container {
//     border: 1px solid #d9d9d9;
//     border-bottom: none;
//     h3 {
//       margin: 0;
//       font-size: 1.2rem;
//       font-weight: normal;
//       padding: 10px 4px;
//       border-bottom: 1px solid #d9d9d9;
//     }

//     .list-wrapper {
//       display: grid;
//       grid-template-columns: 2fr 10fr;
//       padding: 3px 0;
//       height: 80px;
//       border-bottom: 1px solid #d9d9d9;

//       .pic {
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         width: 160px;
//       }
//       .utils {
//         display: grid;
//         grid-template-columns: 8fr 3fr;
//         align-items: center;
//         .left {
//           span {
//             display: block;
//             padding: 5px;
//             word-break: break-all;
//           }
//         }
//         .right {
//           text-align: right;
//           min-width: 65px;
//           a {
//             padding: 5px 6px;
//             margin: 0 3px;
//           }
//         }
//       }
//     }
//   }

//   .warning-icon {
//     font-size: 1.2rem;
//     div {
//       display: inline-block;
//       padding: 0 5px;
//     }
//   }
// }

// .form-button {
//   text-align: center;
//   width: 50%;
//   height: 30px;
//   margin: 20px; 
//   border-radius: 4px;
//   font-size: 1.2rem;
// }
// .normal {
//   background-image: $linear-blue;
// }
// .warning {
//   background-image: $linear-red;
// }

.DayPickerInput {
  width: calc(100% - 18px);
  // width: 100%;
  color: #333;
  padding: 5px 0;
}
.DayPickerInput input {
  width: calc(100% - 18px);
  height: 20px;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
  border-radius: 2px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: #333;
  font-size: 1.2rem;
}

// .switch {
//   position: relative;
//   display: inline-block;
//   height: 30px;
//   width: 80px;
//   margin: 4px 8px;
//   text-align: center;
//   border-radius: 6px;
//   border: 1px solid;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   overflow: hidden;
//   user-select: none;
//   font-size: 1rem;

//   .move {
//     left: -41px !important;
//   }

//   .wapper {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 30px;
//     width: 80px;
//     transition: left 0.2s linear;
//     cursor: pointer;
//     color: #ffffff;

//     &>span {
//       position: absolute;
//       display: inline-block;
//       top: 0;
//     }
//   }
  
//   .block {
//     width: 40px;
//     height: 31px;
//     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
//     background-color: #f5f5f5;
//     margin-top: -1px;
//     margin-bottom: -1px;
//     border-left: 1px solid #cccccc;
//     border-right: 1px solid #cccccc;
//     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//     left: 40px;
//   }

//   .on, .off {
//     width: 41px;
//     height: 30px;
//     line-height: 30px;
//     // background-image: linear-gradient(to bottom, #f89406, #fbb450);
//     // background-image: linear-gradient(to bottom, #2f96b4, #5bc0de);
//     // background-image: linear-gradient(to bottom, #bd362f, #ee5f5b);
//     // background-image: linear-gradient(to bottom, #0044cc, #0088cc);
//     background-image: linear-gradient(to bottom, #6677aa, #666699);
//   }

//   .on{
//     left: 0;
//     border-radius: 4px 0 0 4px;
//   }
//   .off{
//     left: 80px;
//     border-radius: 0 4px 4px 0;
//   }
// }


// @media screen and (max-width: 650px) {
//   .forms-inputs {
//     .list-container {
//       .list-wrapper {
//         .pic {
//           width: 100px;
//           height: 65px;
//           align-self: center;
//         }
//         .utils {
//           .right {
//             a {
//               padding: 5px 2px;
//             }
//           }
//         }
//       }
//     }
//   }
// }