.twocol-container {
  position: relative;
  margin: 0 auto;
  width: 100%;

  .active {
    background: $theme-button; 
    color: #fff;
    cursor: default;
  }
  img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
  }
  .pt {
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 0;
  }
}

.twocol-left {
  position: relative;
  border-bottom: 1px solid #000;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  &>* {
    display: inline-block;
    padding: 10px 20px;
  }
}
.twocol-right {
  position: relative;
  width: calc(100% - 40px);
  padding: 20px;
  text-align: left;
  font-size: 1.1rem;

  h3 {
    font-size: 1.2rem;
    padding: 10px 0;
    margin: 0;
  }
  label {
    padding-right: 10px;
  }
  
  .message-wrapper {
    margin: 10px 0;
    .select {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }

  .message-t {
    position: relative;
    display: flex;
    padding: 6px;
    margin: 0;
    border: 1px solid $theme-purple;
    border-radius: 5px;
    cursor: pointer;

    .main {
      flex: 6;
      .check {
        color: $theme-purple;
        margin-right: 10px; 
      }
      .title {
        word-break: break-all;
      }
    }
    .side {
      position: relative;
      flex: 1;
      min-width: 60px;
      text-align: right;
      font-size: 1.1rem;
    }
    .dot {
      color: $theme-purple;
      margin: 0 10px;
    }
    
  }
  .message-m {
    margin: 0 auto;
    padding: 10px;
    width: calc(100% - 40px);
    border: 1px solid $theme-purple;
    border-top: none;
  }

}
@media screen and (max-width: 600px) {
  .twocol-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &>* {
      padding: 10px;
    }
  }
}

/*
~~~~~~~~~~~~~~~~~~Sides~~~~~~~~~~~~~~ Bottom
Ratio of L/H~~~~~Alpha~~~~~~Beta~~~~~~Alpha~~~~~~~Beta
  ~~~~0.5~~~~~~~0.003~~~~~~~0.085
  ~~~~0.666~~~~~0.0085~~~~~~0.1156
  ~~~~1.0~~~~~~~0.022~~~~~~~0.16~~~~~~0.077~~~~~~0.453
  ~~~~1.5~~~~~~~0.042~~~~~~~0.26~~~~~~0.0906~~~~~0.5172
  ~~~~2.0~~~~~~~0.056~~~~~~~0.32~~~~~~0.1017~~~~~0.5688
  ~~~~2.5~~~~~~~0.063~~~~~~~0.35~~~~~~0.111~~~~~~0.6102
  ~~~~3.0~~~~~~~0.067~~~~~~~0.37~~~~~~0.1335~~~~~0.7134

  0.5	      0.003	  0.085	
  0.666	    0.0085	0.1156	
  1.0	      0.022	  0.16	  0.077	  0.453
  1.5	      0.042	  0.26	  0.0906	0.5172
  2.0	      0.056	  0.32	  0.1017	0.5688
  2.5	      0.063	  0.35	  0.111	  0.6102
  3.0	      0.067	  0.37	  0.1335	0.7134
*/