$theme-black: #000;
$theme-dark-black: #111;
$theme-white: #fff;
$theme-gray: #eee;

$theme-dark-gray: #999;
$theme-light-gray: #ccc;

$theme-red: #CC0000;
$theme-blue: #666699;
$theme-orange: orangered;

$background: #fff;
$theme-icon: $theme-blue;

$font-white: #eee;
$font-dark: #666;
$font-gray: rgba(17, 17, 17, 0.6);
$font-normal: rgb(17, 17, 17);

$font-color: $font-normal;

$hover-bg-light: #ddd; 

$font-size-lg: 1.4rem;
$font-size-m: 1.3rem;
$font-size-sm: 1.2rem;
$font-size-s: 1.1rem;
$font-size-xs: 1rem;

$linear-blue: linear-gradient(to bottom, #6677aa, #666699);
$linear-red: linear-gradient(to bottom, #CC0000, #FF1111);